
@{
    ViewBag.Title = "Index";
}
<div class="row">
    <div class="col-sm-6">
        <h3 style="margin-left:20px; margin-top:-3px;">Admin Dashboard</h3>
    </div>
    <div class="col-sm-1" style="margin-left:240px; text-align:center;">
        Doctors <br />
        @ViewBag.countOfDoctor
    </div>
    <div class="col-sm-1" style="text-align:center;">
        Patients <br />
        @ViewBag.countOfPatient
    </div>
    <div class="col-sm-1" style="text-align:center;">
        Nurses <br />
        @ViewBag.countOfNurse
    </div>
    
</div>
@*<hr style="border-top: 1px solid #cdd4cf; margin-left:-30px; margin-top:-3px;" />*@

<div class="container">

    <div class="row" style="margin-top:20px;">
        <div class="col-sm-2" style="background-color:white; margin-left:20px; height:65px;">
            <center>
                <i class="fa fa-stethoscope" style="font-size:30px; margin-top:7px;"></i><br />
                <span>Doctor</span>
            </center>
        </div>
        <div class="col-sm-2" style="background-color:white; margin-left:20px; height:65px;">
            <center>
                <i class="fa fa-wheelchair" style="font-size:30px; margin-top:7px;"></i><br />
                <span>Patiant</span>
            </center>
        </div>
        <div class="col-sm-2" style="background-color:white; margin-left:20px; height:65px;">
            <center>
                <i class="fa fa-h-square" style="font-size:30px; margin-top:7px;"></i><br />
                <span>Nurse</span>
            </center>
        </div>
        <div class="col-sm-2" style="background-color:white; margin-left:20px; height:65px;">
            <center>
                <i class="fa fa-balance-scale" style="font-size:30px; margin-top:7px;"></i><br />
                <span>Pharmacist</span>
            </center>
        </div>
        <div class="col-sm-2" style="background-color:white; margin-left:20px; height:65px;">
            <center>
                <i class="fa fa-hourglass-2" style="font-size:30px; margin-top:7px;"></i><br />
                <span>Laboratorist</span>
            </center>
        </div>

    </div>

    <div class="row" style="margin-top:10px;">
        <div class="col-sm-2" style="background-color:white; margin-left:20px; height:65px;">
            <center>
                <i class="fa fa-book" style="font-size:30px; margin-top:7px;"></i><br />
                <span>Accountant</span>
            </center>
        </div>
        <div class="col-sm-2" style="background-color:white; margin-left:20px; height:65px;">
            <center>
                <i class="fa fa-medkit" style="font-size:30px; margin-top:7px;"></i><br />
                <span>Medicine</span>
            </center>
        </div>
        <div class="col-sm-2" style="background-color:white; margin-left:20px; height:65px;">
            <center>
                <i class="fa fa-file-alt" style="font-size:30px; margin-top:7px;"></i><br />
                <span>Notice Board</span>
            </center>
        </div>
        <div class="col-sm-2" style="background-color:white; margin-left:20px; height:65px;">
            <center>
                <i class="fas fa-female" style="font-size:30px; margin-top:7px;"></i><br />
                <span>Birth Report</span>
            </center>
        </div>
        <div class="col-sm-2" style="background-color:white; margin-left:20px; height:65px;">
            <center>
                <i class="fas fa-user-slash" style="font-size:30px; margin-top:7px;"></i><br />
                <span>Death Report</span>
            </center>
        </div>

    </div>
</div>

